<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dcae1d;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Student Exam Registration</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <button class="btn btn-outline-dark" type="submit" style="margin-left:600px;" routerLink="/studexambooking">Student Exam Booking</button>
          <button class="btn btn-outline-dark" type="submit" style="margin-left:20px;" routerLink="/showexam">Show My Exam</button>
          <button class="btn btn-outline-dark" type="submit" style="margin-left:20px;" routerLink="/home">Back</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid" style="background-color:#cae4db;width:100%;height:100%;">
  <h4 style="text-align:center; padding-top:40px; padding-bottom:20px;">STUDENT EXAM BOOKING</h4>
  <div class="row" style="text-align: center;">
    <div class="d-flex justify-content-center flex-nowrap">
    <form #studentAdd = "ngForm" (ngSubmit) = "Add(studentAdd)">
    <div class="form-group">
      <label>Student Name</label>
      <div class="col-lg-12">
      <input type="text" class="form-control" pattern="[a-zA-Z\s]+$" #t1="ngModel" name = "t1" placeholder="Enter student name" required ngModel>
      <span *ngIf="t1.invalid && t1.touched" style="color: red;">Please enter a valid input</span>
    </div>
    </div>
    <br>
    <div class="form-group">
      <label>Student Code (4 Digits Only)</label>
      <div class="col-lg-12">
      <input type="text" class="form-control" maxlength="4" pattern= "[0-9]+$" #t2="ngModel" name = "t2" placeholder="Enter student code" required ngModel>
      <span *ngIf="t2.invalid && t2.touched" style="color: red;">Please enter a valid input</span>
    </div>
    </div>
    <br>
    <div class="form-group">
      <label>Exam Topic</label>
      <div class="col-lg-12">
      <input type="text" class="form-control" pattern="[a-zA-Z\s]+$" #t3="ngModel" name = "t3" placeholder="Enter exam topic" required ngModel>
      <span *ngIf="t3.invalid && t3.touched" style="color: red;">Please enter a valid input</span>
    </div>
    </div>
    <br>
    <div class="form-group">
      <label>Select Date</label>
      <div class="col-lg-12">
      <input type="date" #t4="ngModel" name = "t4" class="form-control" required ngModel>
      <span *ngIf="t4.invalid && t4.touched" style="color: red;">Please enter a valid input</span>
    </div>
    </div>
    <br>
    <div class="form-group">
      <label>Select Time</label>
      <div class="col-lg-12">
      <input type="time" #t5="ngModel" name = "t5" class="form-control" required ngModel>
      <span *ngIf="t5.invalid && t5.touched" style="color: red;">Please enter a valid input</span>
    </div>
    </div>
    <br>
    <div class="form-group">
      <label>Email</label>
      <div class="col-lg-12">
      <input type="email" class="form-control" #t6="ngModel" name = "t6" email placeholder="Enter email address" required ngModel>
      <span *ngIf="t6.invalid && t6.touched" style="color: red;">Please enter a valid input</span>
    </div>
    </div>
    <br>
    <div class="form-group">
      <label>Mobile (10 Digits Only)</label>
      <div class="col-lg-12">
      <input type="text" class="form-control" maxlength="10" pattern= "[0-9]+$" #t7="ngModel" name = "t7" placeholder="Enter mobile number" required ngModel>
      <span *ngIf="t7.invalid && t7.touched" style="color: red;">Please enter a valid input</span>
    </div>
    </div>
    <br>
    <div class="text-center">
    <button type="submit" class="btn btn-primary" style="margin-bottom: 80px;" [disabled]="studentAdd.invalid">Book Now</button>
  </div>
  </form>
</div>
</div>
</div>