<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dcae1d;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Student Exam Registration</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <button class="btn btn-outline-dark" type="submit" style="margin-left:600px;" routerLink="/studexambooking">Student Exam Booking</button>
          <button class="btn btn-outline-dark" type="submit" style="margin-left:20px;" routerLink="/showexam">Show My Exam</button>
          <button class="btn btn-outline-dark" type="submit" style="margin-left:20px;" routerLink="/home">Back</button>
        </form>
      </div>
    </div>
  </nav>
  <div style="background-color:#cae4db;width:100vw;height:100vh;"></div>
